
#window_container {
	text-align: center;
	width: 100%;
	font-family: 'Work Sans', sans-serif;

}

.window_facts {
	background: url('../img/house_windows1.jpg') no-repeat;
	margin-bottom: 60px;
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	width: 100%;
	height: 416px;
}

#image_text {
	width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 51px;
    top: 270px;
}

#window_info {
	margin-bottom: 100px;
    width: 1000px;
    margin: 0 auto; 
    margin-bottom: 110px;
}

#window_info p {
	color: rgba(0,0,0,0.8);
	position: relative;
	text-align: left;
	font-size: 23px;
	width: 929px;

}

.centerContent {
	width: 980px;
	height: 150px;
}

.windowStyles {
	width: 1100px;
	display: grid;
	grid-template-columns: 350px 350px 350px;
 	grid-template-rows: 300px 300px 300px;
	margin: 0 auto;
}

.item-custom p{
	width: 330px;
    font-size: 24px;
    color: white;
    line-height: 12;
    margin: 0 auto;

}

.item-1 {
  background: #b03532;
  margin: 10px;
  background: url(../img/casement1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.item-2 {
  background: #33a8a5;
  margin: 10px;
  background: url(../img/doublehung.jpg);


}

.item-3 {
  background: #30997a;
  margin: 10px;
  background: url(../img/singlehung1.jpg);

}

.item-4 {
  background: #6a478f;
  margin: 10px;
  background: url(../img/slidingWindow1.jpg);


}

.item-5 {
  background: #da6f2b;
   margin: 10px;
   background: url(../img/bayWindow1.jpg);

}

.item-6 {
   background: #da6f2b;
   margin: 10px;
   background: url(../img/specialtywindow1.jpg);
}

.item-7 {
   background: #da6f2b;
   margin: 10px;
   background: url(../img/picture-window1.jpg);
}



